/* CCS FILE TO DO THE VALIDATION FOR THE PASSWORD */

.password {
  display: flex;
  gap: 1rem;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: white;
  background-color: #f1e1fc;
}